@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body,
html {
    font-family: 'Patrick Hand', cursive;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}